.nav {
    position: relative;
    width: 950px;
    margin: 0 auto;
}
.swiper-container {
    margin-top: 50px;
    width: 800px;
    height: 659px;
    box-sizing: border-box;
    padding: 3px;
}

.swiper-wrapper {
    height: 540px;
}

.swiper-slide {
    position: relative;
    /* text-align: center; */
    color: #ffffff;
    font-size: 50px;
    width: 150px;
    height: 222px;
    /* vertical-align: center; */
    bottom: 20px;
    top: 30px;
}

.swiper-slide .img-content {
    position: relative;
    font-size: 14px;
    color: #ffffff;
    height: 258px;
    overflow: hidden;
}

.swiper-slide .img-title {
    position: absolute;
    display: flex;
    width: 100%;
    max-height: 62px;
    box-sizing: border-box;
    padding: 8px 0;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
}

.swiper-slide img {
    width: 100%;
    /* 宽度限制 */
    height: 100%;
    object-fit: cover;
}

.swiper-slide span {
    font-size: 14px;
    left: 5px;
    box-sizing: border-box;
    padding: 2px 23px;
}

.swiper-slide .img-content label {
    /* background-color: rgba(221, 208, 158, 0.5); */
    padding: 0 3px;
    /* 上  左右 下 */
    margin-right: 10px;
    border-radius: 15%;
    border: 1px solid #858fa6;
    background: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#0e4ee8));
    color: rgba(229, 237, 255, 1.0);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    font-size: 17px;
    right: 5px;
    cursor: pointer;
}

.swiper-container .title {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}

/* .btn {
        position: relative;
        left: 50%;
    } */

.img-title input {
    display: none;
}

.selected {
    background: #cccccc;
}

.list-img {
    cursor: pointer;
}

.tips {
    margin: 0 auto;
}

.tips span {
    display: block;
    color: #ffffff;
    text-align: center;
}